* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
    width: 800px;
    height: 800px;
}

#container .orbit {
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}
#container .orbit:hover {
    border: 3px solid black!important;
}

#container .orbit-pd {
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#container #mars-orbit {
    z-index: 40;
    position: absolute;
    border: 1px solid black!important;
    border-radius: 50%;
}

#container #mars {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;
    z-index: 41;
}

#container #mars-orbit-pd {
    z-index: 41;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#container #jupiter-orbit {
    z-index: 10;
    position: absolute;
    border: 1px solid black!important;
    border-radius: 50%;
}

#container #jupiter {
    position: absolute;
    border-radius: 50%;
    background: #ffb25c;
    z-index: 11;
}

#container #jupiter-orbit-pd {
    z-index: 11;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#container #sun {
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: yellow;
    top: 390px;
    left: 390px;
    z-index: 1000;
}